{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "semi": ["warn", "never"],
    "no-console": "warn",
    "no-unused-vars": ["warn", { "args": "after-used" }],
    "no-mixed-spaces-and-tabs": "error",
    "no-trailing-spaces": "error",
    "no-var": "error",
    "object-curly-spacing": ["error", "always"],
    "no-alert": "error",
    "comma-dangle": "warn",
    "react/jsx-curly-spacing": [
      "error",
      {
        "when": "never",
        "children": {
          "when": "never"
        }
      }
    ],
    "react/prop-types": 2
  }
}
