{
  "extends": ["plugin:react/recommended", "airbnb", "airbnb/hooks"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es2021": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".d.ts"]
      }
    }
  },
  "ignorePatterns": [
    "dist/**/*",
    "src/lib/**/*",
    "src/__tests__/**/*",
    "src/__mocks__/**/*"
  ],
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "arrow-body-style": "off",
    "semi": ["error", "never"],
    "semi-style": "off",
    "no-unused-vars": ["error", { "args": "after-used" }],
    "no-alert": "error",
    "comma-dangle": ["error", "never"],
    "operator-linebreak": "off",
    "class-methods-use-this": "off",
    "implicit-arrow-linebreak": "off",
    "object-curly-newline": "off",
    "no-plusplus": "off",
    "func-names": "off",
    "no-param-reassign": ["error", { "props": false }],
    "import/extensions": ["error", "never"],
    "react-hooks/exhaustive-deps": "off",
    "react/no-array-index-key": "off",
    "react/prop-types": 2,
    "react/jsx-props-no-spreading": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-filename-extension": [
      "error",
      { "extensions": [".jsx", ".tsx"] }
    ],
    "react/jsx-curly-spacing": [
      "error",
      {
        "when": "never",
        "children": {
          "when": "never"
        }
      }
    ],
    // Media will only every be included through the GitHub API so
    // it's not possible to provide a <track> element to media tags
    "jsx-a11y/media-has-caption": "off",
    // TODO: Possibly enable these for accessability?
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/no-static-element-interactions": "off"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parser": "@typescript-eslint/parser",
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended"
      ],
      "rules": {
        "no-use-before-define": "off",
        "react/prop-types": "off",
        "lines-between-class-members": "off",
        "@typescript-eslint/no-use-before-define": ["error"],
        "@typescript-eslint/explicit-module-boundary-types": "error",
        "@typescript-eslint/ban-ts-comment": "off", // Temporary?
        "@typescript-eslint/no-empty-function": "off"
      }
    }
  ]
}
