.ascii-doc-renderer {
  height: 100%;
  width: 100%;
  color: var(--color-text-primary);
  overflow: auto;
  line-height: 1.5;

  .ascii-doc-content {
    max-width: 80%;
    margin: 1em auto 2em auto;
    overflow-x: hidden;
    font-size: 1.05em;
    word-wrap: break-word;

    * {
      box-sizing: border-box;
    }
  }

  img {
    max-width: 100%;
  }

  table,
  td,
  th {
    border-collapse: collapse;
    border-spacing: 0;
  }

  td,
  th {
    border: 1px solid var(--color-border);
  }

  table {
    padding: 0;
    margin-bottom: 1em;
    width: 100%;
    display: block;
    overflow: auto;
  }

  td {
    padding: 0.5em;
  }

  th {
    padding: 0.5em 1em;
  }

  pre,
  code {
    background-color: var(--color-markdown-code-bg);
  }

  code {
    padding: 0.2em 0.4em;
    font-size: 1.05em;
  }

  pre {
    padding: 2em;
    overflow: auto;
    font-size: 1.05em;

    code {
      background-color: transparent;
      padding: 0;
    }
  }

  h1,
  h2 {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 0.3em;
  }

  h3,
  h4,
  h5 {
    font-size: inherit;
  }

  h6 {
    font-size: 0.85em;
    margin-top: 1.7em;
    margin-bottom: 1.7em;
  }

  a {
    text-decoration: none;
  }

  blockquote {
    margin-left: 0;
    padding: 0 1em;
    color: var(--color-markdown-blockquote);
    border-left: 0.25em solid #dfe2e5;
  }

  kbd {
    display: inline-block;
    padding: 5px;
    line-height: 10px;
    vertical-align: middle;
    background-color: var(--color-secondary);
    border-bottom-color: var(--color-border);
    border: 1px solid var(--color-border);
    border-radius: 6px;
    box-shadow: inset 0 -1px 0 var(--color-border);
  }

  dt {
    font-style: italic;
    font-weight: bold;
  }

  input,
  label {
    pointer-events: none;
  }

  input {
    margin-right: 0.8em;
  }
}
