.image-renderer {
  width: 90%;
  height: 90%;
  display: flex;
  justify-self: center;
  align-items: center;

  img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    object-fit: contain;
  }

  .img--loading {
    border: none;
    display: none;
  }
}
