.app {
  height: calc(100vh - var(--gutter-height));
  display: flex;
  background-color: var(--color-app-bg);

  .right {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    .resize-panel {
      position: absolute;
      left: 0;
      width: 8px;
      opacity: 0;
      height: 100%;
      cursor: col-resize;
      z-index: 99999;
      background-color: var(--color-scrollbar);
      transition: opacity 0.2s ease-in-out;

      &:hover {
        opacity: 0.5;
      }

      &:active {
        // The state when the mouse is down on the resize panel
        opacity: 1;
      }
    }

    h1 {
      margin: 0;
    }
  }

  .image-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 90%;
      height: 90%;
      object-fit: contain;
    }
  }

  .resize-overlay {
    display: none;
  }
}

.is-resizing {
  // Adds an overlay to the app so that content won't get selected
  // when the user is dragging the resize panel
  .resize-overlay {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 3;
    cursor: col-resize;
  }
}
