@import '../style/mixins/media';

.branch-list {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin: 0;
  padding: 0;
  padding-left: 0;
  flex-shrink: 0;
  color: var(--color-text-primary);

  li {
    display: flex;
    list-style: none;
    padding: 4px 12px 4px 18px;
    cursor: pointer;
    align-items: center;

    &.branch--current {
      background-color: var(--color-list-item-hover);
    }

    &.truncated-message {
      cursor: default;
    }

    &:last-child {
      padding-bottom: 6px;
    }

    @include desktop() {
      &:hover:not(.truncated-message) {
        background-color: var(--color-list-item-hover);
      }
    }

    @include mobile() {
      &:active {
        background-color: var(--color-list-item-hover);
      }
    }
  }

  .branch-name {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
  }

  .branch-icon {
    flex-shrink: 0;
    margin-right: 0.5em;
  }
}
