.collapse {
  // Allows the header to stretch to the full width of
  // the panel when it's resized
  display: table;
  width: 100%;

  .header {
    background-color: var(--color-collapse-header);
    color: var(--color-text-secondary);
    display: flex;
    width: 100%;
    text-align: left;
    text-transform: capitalize;
    border: none;
    border-bottom: 1px solid var(--color-border);
    border-top: 1px solid var(--color-border);
    font-size: 0.9em;
    margin: 0;
    margin-top: -1px; // Cancels the overlapping borders
    align-items: center;
    padding: 0.5em;
    cursor: pointer;
    position: sticky;
    top: 0;
    box-sizing: border-box;
    z-index: 2;

    &:focus {
      outline: none;
    }
  }

  .toggle-icon {
    margin-right: 0.5em;
    color: var(--color-text-primary);
    flex-shrink: 0;
  }

  &.is-open {
    .toggle-icon {
      transform: rotate(90deg);
    }

    .content {
      height: 100%;
    }
  }

  &.is-closed {
    display: unset;

    .content {
      height: 0;
      overflow-y: hidden;
    }
  }
}
