.collapse {
  $font-color: #000000d9;
  $transition-duration: 0.1s;

  // Allows the header to stretch to the full width of
  // the panel when it's resized
  display: table;
  width: 100%;

  .header {
    background-color: #fafafa;
    display: flex;
    width: 100%;
    text-align: left;
    border: none;
    font-size: 0.9em;
    margin: 0;
    padding: 0;
    align-items: center;
    padding: 0.5em;
    cursor: pointer;
    color: $font-color;
    border-bottom: 1px solid #e6e6e6;
    position: sticky;
    top: 0;
    text-transform: capitalize;

    &:focus {
      outline: none;
    }
  }

  .toggle-icon {
    margin-right: 0.5em;
    color: $font-color;
    // transition: transform $transition-duration ease-in-out;
  }

  .content {
    transition: max-height $transition-duration ease-in-out;
  }

  &.is-open {
    border-bottom: 1px solid #e6e6e6;
    .toggle-icon {
      transform: rotate(90deg);
    }

    .content {
      // overflow: auto;
      height: 100%;
    }
  }

  &.is-closed {
    display: unset;
    //  border-bottom: none;
   .content {
     height: 0;
    overflow-y: hidden;
   }
  }
}
