.context-menu {
  position: fixed;
  z-index: 99999;
  font-family: var(--font-default);
  color: var(--color-text-primary);
  background-color: var(--color-modal-bg);
  font-size: 0.9em;
  box-shadow: 0 5px 17px 5px rgba(0, 0, 0, 0.15);
}

.menu {
  padding: 0.5em 0;
  margin: 0;
}

.menu-option {
  list-style: none;
  cursor: pointer;
  padding: 0.5em 1.5em;
  white-space: nowrap;

  &:hover {
    color: #f6f6f6;
    background-color: rgb(10, 67, 183);
  }
}
