@import './mixins/media';

.monaco-editor-container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .file-preview-btn {
    position: absolute;
    bottom: 0;
    right: 1.5em;
    background-color: var(--color-primary);
    z-index: 1;
    border: none;
    cursor: pointer;

    @include desktop() {
      opacity: 0.2;
      transition: opacity 0.3s ease-in;

      &:hover {
        opacity: 1;
      }
    }

    svg {
      width: 3em;
      height: 3em;
    }
  }
}
