@import './mixins/media';

.explorer-panel {
  $toggle-button-height: 32px;

  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-collapse: collapse;
  border-right: 1px solid var(--color-border);

  @include desktop() {
    flex-basis: var(--file-explorer-width);
  }

  &.is-open {
    @include mobile() {
      flex-basis: 100%;
    }
  }

  &.is-closed {
    flex-basis: 32px;
  }

  .explorer-panel-content {
    width: 100%;
    // To account for the top border of the first collapse panel
    margin-top: -2px;
    height: calc(100% - #{$toggle-button-height});

    @include desktop() {
      &:hover .simplebar-scrollbar::before,
      &:active .simplebar-scrollbar::before {
        opacity: 0.45 !important;
        // The enter transition (mouseenter)
        transition: opacity 0.2s ease-in-out 0s !important;
      }
    }
  }

  .panel-toggle {
    width: 100%;
    height: $toggle-button-height;
    border: none;
    background-color: var(--color-collapse-header);
    border-bottom: 1px solid var(--color-border);
    font-size: 0.9em;
    padding: 0.5em;
    font-size: 1em;
    z-index: 1;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }

  .panel-toggle-icon {
    color: var(--color-text-primary);
  }

  // Covers the explorer panel when the explorer is closed.
  // This prevents x overflow and hides the panel's squished content
  .panel-overlay {
    position: absolute;
    z-index: 100;
    width: 100%;
    background-color: var(--color-collapse-header);
    top: $toggle-button-height;
    bottom: 0;
  }

  .search-panel {
    padding: 1em 0.5em;
  }

  // Need to use !important here to override some
  // om simplebar's default properties. This allows
  // the scrollbar to always show on hover.
  .simplebar-scrollbar::before {
    background-color: var(--color-scrollbar);
    border-radius: 0;
    opacity: 0 !important;
    // The exit transition (mouseleave)
    transition: opacity 0.2s ease-in-out 0.2s !important;

    @include mobile() {
      display: none;
    }
  }
}
