@import './mixins/media';

.file-renderer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .unsupported {
    text-align: center;
    margin: 0 2em;
  }

  .render-editor-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    color: blue;
    margin: 0;
  }

  .editor-preview-btn {
    position: absolute;
    bottom: 0;
    right: 1.5em;
    bottom: 1em;
    background-color: transparent;
    z-index: 1;
    border: none;
    cursor: pointer;

    @include desktop() {
      opacity: 0.5;
      transition: opacity 0.3s ease-in;

      &:hover {
        opacity: 1;
      }
    }

    svg {
      width: 3em;
      height: 3em;
      background-color: transparent;
      color: var(--color-text-primary);
    }
  }
}
