.cm-s-github.CodeMirror {
  background: #fff;
  color: #24292e;
}

.cm-s-github .CodeMirror-gutters {
  background: #fff;
  border: 0;
}

.cm-s-github .CodeMirror-linenumber {
  color: rgba(27, 31, 35, 0.3);
}
.cm-s-github .CodeMirror-cursor {
  border-color: #24292e;
}

.cm-s-github .cm-keyword {
  color: #d73a49;
}
.cm-s-github .cm-atom {
  color: #005cc5;
}
.cm-s-github .cm-number {
  color: #005cc5;
}
.cm-s-github .cm-def {
  color: #d73a49;
}
.cm-s-github .cm-variable {
  color: #24292e;
}
.cm-s-github .cm-variable-2 {
  color: #d73a49;
}
.cm-s-github .cm-variable-3,
.cm-s-default .cm-type {
  color: #6f42c1;
}
.cm-s-github .cm-property {
  color: #005cc5;
}
.cm-s-default .cm-punctuation,
.cm-s-default .cm-operator {
}
.cm-s-github .cm-comment {
  color: #6a737d;
}
.cm-s-github .cm-string {
  color: #005cc5;
}
.cm-s-github .cm-string-2 {
  color: rgba(46, 56, 60, 1);
}
.cm-s-github .cm-meta {
  color: #24292e;
}
.cm-s-github .cm-qualifier {
  color: #6f42c1;
}
.cm-s-github .cm-builtin {
  color: #6f42c1;
}
.cm-s-github .cm-bracket {
  color: #24292e;
}
.cm-s-github .cm-tag {
  color: #22863a;
}
.cm-s-github .cm-attribute {
  color: #6f42c1;
}
.cm-s-github .cm-attribute + .cm-s-github .cm-string {
  color: #032f62;
}
.cm-s-github .cm-hr {
  color: #24292e;
}
.cm-s-github .cm-link {
  color: #005cc5;
}

.cm-s-github .cm-error {
  color: #d73a49;
}
.cm-invalidchar {
  color: #d73a49;
}
