.image-renderer {
  width: 100%;
  height: 100%;
  background-image: url('../assets/checker.svg');
  background-repeat: repeat;
  display: flex;
  justify-self: center;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: contain;
  }

  &.is-loading {
    border: none;

    img {
      display: none;
    }
  }
}
