:root {
  --default-explorer-width: 250px;
  --file-explorer-width: var(--default-explorer-width);
  --tab-bar-height: 30px;
  --gutter-height: 0px;
  // --gutter-height: 20px;
}

.light-mode {
  --color-primary: #ffffff;
  --color-panel-background: #ffffff;
  --color-panel-text: #000000;
  --color-panel-border: #dfe3e6;
  --color-list-item-hover: #dbeaff;
  --color-text-primary: #000000;
  --color-text-secondary: #353535;
  --color-border: #dfe3e6;
  --color-tab-border-bottom-active: #001799;
  --color-collapse-header: #fafbfc;
  --color-app-bg: #ffffff;
  --color-gutter: #007acc;
}

.dark-mode {
  --color-primary: #212122;
  --color-panel-background: #212122;
  --color-panel-text: #bdbdbd;
  --color-panel-border: transparent;
  --color-list-item-hover: #303036;
  --color-text-primary: #ffffff;
  --color-text-secondary: #bdbdbd;
  --color-border: #424242;
  --color-tab-border-bottom-active: #006fcc;
  --color-collapse-header: #2d2d2d;
  --color-app-bg: #1e1e1e;
  --color-gutter: #007acc;
}

body {
  margin: 0;
  font-size: 1em;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.is-resizing {
  user-select: none;
}

// Overrides the box shadow at the bottom of the tab view
// that monaco adds when scrolling down in the editor
.monaco-editor .scroll-decoration {
  box-shadow: none !important;
}
