:root {
  --default-explorer-width: 270px;
  --file-explorer-width: var(--default-explorer-width);
  --scrollbar-height: 8px;
  --tab-bar-height: 41px;
  --font-default: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.theme-light {
  --color-primary: #ffffff;
  --color-secondary: #f6f8fa;
  --color-panel-background: #ffffff;
  --color-panel-text: #000000;
  --color-panel-border: #dfe3e6;
  --color-list-item-hover: #e3eeff;
  --color-text-primary: #000000;
  --color-text-secondary: #353535;
  --color-text-link: #0366d6;
  --color-text-muted: #767676;
  --color-border: #dfe3e6;
  --color-tab-border-bottom-active: #001799;
  --color-collapse-header: #fafbfc;
  --color-app-bg: #ffffff;

  --color-markdown-table-bg: #eff7ff;
  --color-markdown-code-bg: rgba(27, 31, 35, 0.05);
  --color-markdown-blockquote: #6a737d;
  --color-modal-bg: #ffffff;

  --color-nb-stderr: #ffdddd;
  --color-nb-output: #d84315;
  --color-nb-table-border: #5c5c5c;

  --color-scrollbar: rgba(0, 0, 0, 0.45);
  --color-scrollbar-native: #bebebe;

  --color-folder: #79b8ff;
  --color-selected: #0366d6;
}

.theme-dark {
  --color-primary: #212122;
  --color-secondary: #161b22;
  --color-panel-background: #212122;
  --color-panel-text: #bdbdbd;
  --color-panel-border: transparent;
  --color-list-item-hover: #303036;
  --color-text-primary: #d2d2d2;
  --color-text-secondary: #bdbdbd;
  --color-text-link: #58a6ff;
  --color-text-muted: #888888;
  --color-border: #424242;
  --color-tab-border-bottom-active: #006fcc;
  --color-collapse-header: #2d2d2d;
  --color-app-bg: #1e1e1e;

  --color-markdown-table-bg: #171a20;
  --color-markdown-code-bg: rgba(45, 45, 45, 0.45);
  --color-markdown-blockquote: #b6bbc0;
  --color-modal-bg: #333333;

  --color-nb-stderr: #6b0f0f;
  --color-nb-output: #ff6262;
  --color-nb-table-border: var(--color-border);

  --color-scrollbar: rgb(146, 146, 146);
  --color-scrollbar-native: #696969;

  --color-folder: #6e7681;
  --color-selected: #58a6ff;
}

body {
  overscroll-behavior: none;
  margin: 0;
  font-size: 1em;
  font-family: var(--font-default);
  background-color: var(--color-app-bg);
  color: var(--color-text-primary);
  line-height: 1.4;

  &.is-resizing {
    user-select: none;
  }
}

a {
  color: var(--color-text-link);
}

// Overrides the box shadow at the bottom of the tab view
// that monaco adds when scrolling down in the editor
.monaco-editor .scroll-decoration {
  box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--color-app-bg);
}

::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-native);
}

::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
