:root {
  --default-explorer-width: 250px;
  --file-explorer-width: var(--default-explorer-width);
  --resize-panel-border-width: 8px;
  --resize-panel-border-color: red;
  --tab-bar-height: 30px;
  --gutter-height: 0px;
  // --gutter-height: 20px;
}

.light-mode {
  --color-panel-background: #ffffff;
  --color-panel-text: #000000;
  --color-file-hover: #e3e8ec;
  --color-panel-border: #dddddd;
  --color-tab-border-bottom-active: #001799
}

.dark-mode {
  --color-panel-background: #212122;
  --color-panel-text: #bdbdbd;
  --color-file-hover: #303036;
  --color-panel-border: transparent;
}

body {
  margin: 0;
  font-size: 1em;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.no-select {
  user-select: none;
}

// Overrides the box shadow at the bottom of the tab view
// that monaco adds when scrolling down in the editor
.monaco-editor .scroll-decoration {
  box-shadow: none !important;
}
