.loading-overlay {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-app-bg);

  .loading-icon {
    animation: spin 1s linear infinite;
    color: var(--color-text-secondary);
    width: 4em;
    height: 4em;
  }

  .loading-text {
    margin-top: 2em;
    color: var(--color-text-secondary);
  }
}
