@import './mixins/media';

.modal {
  position: relative;
  background-color: var(--color-primary);
  z-index: 100;
  box-shadow: 0 25px 50px 0 rgba(62, 62, 62, 0.15);
  padding: 1em;
  animation: slide-up 0.4s cubic-bezier(0.38, 0.1, 0.36, 0.9);

  * {
    color: var(--color-text-primary);
  }

  @include desktop() {
    max-width: 30em;
  }

  @include mobile() {
    max-width: 70%;
  }

  @keyframes slide-up {
    from {
      transform: translateY(15%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .modal-title {
    text-align: center;
    margin: 0;
    margin-top: 0.5em;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 3em;
    box-sizing: border-box;
    margin: 0 auto;
    justify-content: center;

    @include mobile() {
      padding: 1em;
    }
  }

  .modal-body {
    margin: 1.5em 0;
    line-height: 23px;
    text-align: center;
  }

  .close-btn {
    background-color: var(--color-primary);
    border: 1px solid var(--color-text-primary);
    border-radius: 4px;
    padding: 0.5em 1em;
    font-size: inherit;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

    @include desktop() {
      &:hover {
        background-color: var(--color-text-primary);
        color: var(--color-app-bg);
      }
    }
  }

  &:focus {
    outline: none;
  }
}

.modal--overlay {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
