.search-input {
  $color-error: #f44336;
  $border-radius: 3px;
  $border-color-transition: border-color 0.2s ease-in-out;

  display: flex;
  flex-direction: column;

  input {
    appearance: none;
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
    width: 100%;
    padding: 0.3em 0.5em;
    border: 1px solid var(--color-border);
    z-index: 1;
    font-size: 0.9em;
    border-radius: $border-radius 0 0 $border-radius;
    transition: $border-color-transition;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:focus {
      border-color: var(--color-tab-border-bottom-active);
      outline: none;
    }

    &:hover {
      border-color: var(--color-tab-border-bottom-active);
    }

    &::placeholder {
      color: var(--color-text-muted);
    }
  }

  .error-label {
    font-size: 0.8em;
    padding-left: 0.2em;
    margin-top: 0.2em;
    color: $color-error;
  }

  .input-wrapper {
    display: flex;
  }

  .search-button {
    background-color: transparent;
    border: 1px solid var(--color-border);
    margin-left: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 $border-radius $border-radius 0;
    transition: $border-color-transition;
    cursor: pointer;

    &:not(:disabled):hover {
      border-color: var(--color-tab-border-bottom-active);
      z-index: 1;
    }

    &:focus {
      outline: none;
    }

    &:disabled {
      cursor: not-allowed;
    }
  }

  .search-icon,
  .loading-icon {
    width: 1.3em;
    height: 1.3em;
    color: var(--color-text-primary);
  }

  .input--error {
    input {
      border-color: $color-error;

      &:focus,
      &:hover {
        border-color: $color-error;
      }
    }

    .search-button {
      border-color: $color-error;
    }
  }

  .loading-icon {
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate((360deg));
    }
  }
}
