@import './mixins/media.scss';

.settings {
  padding: 0.5em;
  padding-top: 1em;
  color: var(--color-text-primary);
  width: 100%;
  box-sizing: border-box;

  .profile-username {
    margin-top: 0.2em;
    text-align: center;
    font-size: 0.87em;
  }

  button {
    border: 1px solid var(--color-border);
    border-radius: 3px;
    width: 100%;
    background-color: var(--color-app-bg);
    cursor: pointer;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85em;
    color: var(--color-text-primary);
    margin-bottom: 0.8em;
    transition: background-color 0.2s ease-in-out;

    &:focus {
      outline: none;
    }

    @include desktop() {
      &:hover {
        background-color: var(--color-list-item-hover);
      }
    }
  }

  .theme-toggle-btn {
    padding: 0.6em;
  }

  .is-loading {
    cursor: not-allowed;
  }

  .github-icon,
  .loading-icon {
    font-size: 1.3em;
    color: inherit;
  }

  .github-icon {
    margin-right: 8px;
    flex-shrink: 0;
  }

  .loading-icon {
    animation: spin 1s linear infinite;
    margin-left: 8px;
  }

  .profile-username {
    width: 100%;
    font-size: 0.87em;
  }

  .source-link {
    font-size: 0.85em;
    text-align: center;
    text-decoration: none;
    display: block;
    color: var(--color-text-link);
    cursor: pointer;
  }

  p.source-link {
    margin-bottom: 0.5em;
  }
}
