.tabs {
  width: 100%;
  overflow: hidden;

  .tab-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    border-bottom: 1px solid var(--color-panel-border);
    position: absolute;
    height: var(--tab-bar-height);
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1;
  }

  .tab {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    padding: 0.1em 0 0.1em 1em;
    user-select: none;

    &:focus {
      outline: none;
    }

    .tab-close-button {
      border: none;
      padding: 0 0.9em 0 0.6em;
      background-color: transparent;
      font-size: 1em;
      margin: 2px 0 0 0.2em;
      cursor: pointer;
      opacity: 0;
      height: 100%;
      text-align: center;
      color: #353535;

      &:focus {
        outline: none;
      }
    }

    &:hover {
      background-color: var(--color-file-hover);
      .tab-close-button {
        opacity: 1;
      }
    }
  }

  .tab--selected {
    border-bottom: 2px solid var(--color-tab-border-bottom-active);
  }

  .tab-panel--selected {
    height: 100%;
  }
}
