@import './mixins/media';

.tabs {
  width: 100%;
  overflow: hidden;

  .tab-simplebar {
    z-index: 1;
    display: flex;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 1px;
      left: 0;
      right: 0;
      width: 100%;
      top: 31px;
      background-color: var(--color-border);
    }
  }

  .scroll-container {
    width: 100%;
    height: var(--tab-bar-height);
  }

  .tab-list {
    display: flex;
    list-style: none;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    color: var(--color-text-secondary);
    height: 31px;
    background-color: var(--color-primary);
    z-index: 1;
  }

  .close-all-button {
    position: sticky;
    left: 0;
    background-color: var(--color-primary);
    color: var(--color-text-primary);
    z-index: 2;
    border: none;
    font-size: 1.3em;
    border-right: 1px solid var(--color-border);
    padding: 0 0.5em;

    &:hover {
      background-color: var(--color-list-item-hover);
    }

    svg {
      color: var(--color-text-primary);
    }
  }

  .tab {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    padding: 0.1em 0 0.1em 1em;
    user-select: none;

    &:focus {
      outline: none;
    }

    .tab-close-button {
      border: none;
      padding: 0 0.9em 0 0.6em;
      background-color: transparent;
      font-size: 1em;
      margin: 2px 0 0 0.2em;
      cursor: pointer;
      opacity: 0;
      height: 100%;
      text-align: center;
      color: var(--color-text-primary);

      &:focus {
        outline: none;
      }
    }

    .tab-title {
      white-space: nowrap;
    }

    @include desktop() {
      &:hover {
        color: var(--color-text-primary);
        background-color: var(--color-list-item-hover);
        .tab-close-button {
          opacity: 1;
        }
      }
    }
  }

  .tab-panel {
    display: none;
  }

  .tab-panel--selected {
    display: block;
    // Allows the scroll bar to show on top of the panel's content
    height: calc(100% - var(--tab-bar-height) + var(--scrollbar-height));
    transform: translateY(calc(-1 * var(--scrollbar-height)));
  }

  .tab--selected {
    color: var(--color-text-primary);
    position: relative;

    // Using a pseudo-element here so that the title of the tab
    // doesn't shift when that active border is added
    &::before {
      content: '';
      position: absolute;
      height: 3px;
      bottom: -2px;
      left: 0;
      right: 0;
      background-color: var(--color-tab-border-bottom-active);
    }

    .tab-close-button {
      opacity: 1;
    }
  }

  .simplebar-scrollbar::before {
    background-color: var(--color-scrollbar);
    border-radius: 0;

    @include mobile() {
      display: none;
    }
  }
}
