@import '../style/mixins/media';

.tree-node {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  color: var(--color-text-primary);

  @include desktop() {
    &:hover {
      color: var(--color-text-primary);
      background: var(--color-list-item-hover);
    }
  }

  &:last-child {
    margin-bottom: 12px;
  }

  &.is-active {
    color: var(--color-text-primary);
    background: var(--color-list-item-hover);
    font-weight: bold;
  }

  .tree-node__icon {
    font-size: 16px;
    display: flex;

    &.toggle {
      margin-right: 8px;
    }

    &.type {
      margin-right: 10px;
    }
  }

  .node-label,
  small {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .node-label {
    max-width: 100%;

    small {
      display: block;
    }
  }
}
